<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculadora General</title>
</head>
<body>
    <div>


        <div>
            <form method="get" action="resultado">
                <div>
                    <label for="numero1">Numero 1</label>
                    <input name="numero1" id="numero1" type="text">
                </div>

                <div>
                    <label for="numero2">Numero 2</label>
                    <input name="numero2" id="numero2" type="text" >
                </div>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</body>
</html>